altair==5.3.0
matplotlib==3.8.2
numpy==1.26.0
pandas==1.5.3
plotly==5.23.0
plotly-express==0.4.1
pyarrow==17.0.0
requests==2.31.0
requests-oauthlib==2.0.0
st-gsheets-connection @ git+https://github.com/masani1989/gsheets-connection.git@59fd12f97a041d5a384f6c0ab076a456658cd8c8
streamlit==1.37.1
streamlit-aggrid==1.0.5
toml==0.10.2
